<section class="catalog" id="catalog">
  <div class="container">
    <h1 class="catalog-title">Catalog</h1>
    <div class="cards">
      <ul class="catalog-list">

        <li class="catalog-item">
          <div class="wrapper">
            <div class="wrapper-img">

              <picture>
                <source
                  srcset="
                    /img/catalog/fenix_desctop.webp 1x,
                    /img/catalog/fenix_desctop@2x.webp 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/catalog/fenix_tablet.webp 1x,
                    /img/catalog/fenix_tablet@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/catalog/fenix_mobile.webp 1x,
                    /img/catalog/fenix_mobile@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/catalog/fenix_mobile.webp"
                  alt="watch"
                />
              </picture>

            </div>

            <div class="description-catalog">
              <h3 class="catalog-title-item">Garmin Fenix 7X Pro Sapphire Solar </h3>
              <p class="catalog-text">€500</p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <div class="wrapper-img">

              <picture>
                <source
                  srcset="
                    /img/catalog/marq_desctop.webp 1x,
                    /img/catalog/marq_desctop@2x.webp 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/catalog/marq_tablet.webp 1x,
                    /img/catalog/marq_tablet@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/catalog/marq_mobile.webp 1x,
                    /img/catalog/marq_mobile@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/catalog/marq_mobile.webp"
                  alt="watch"
                />
              </picture>


            </div>
            <div class="description-catalog">
              <h3 class="catalog-title-item">Garmin Marq Athlete </h3>
              <p class="catalog-text">€450</p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <div class="wrapper-img">

              <picture>
                <source
                  srcset="
                    /img/catalog/descent_desctop.webp 1x,
                    /img/catalog/descent_desctop@2x.webp 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/catalog/descent_tablet.webp 1x,
                    /img/catalog/descent_tablet@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/catalog/descent_mobile.webp 1x,
                    /img/catalog/descent_mobile@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/catalog/descent_mobile.webp"
                  alt="watch"
                />
              </picture>

            </div>
            <div class="description-catalog">
              <h3 class="catalog-title-item">Garmin Descent MK1 </h3>
              <p class="catalog-text">€680</p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <div class="wrapper-img">

              <picture>
                <source
                  srcset="
                    /img/catalog/delta_desctop.webp 1x,
                    /img/catalog/delta_desctop@2x.webp 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/catalog/delta_tablet.webp 1x,
                    /img/catalog/delta_tablet@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/catalog/delta_mobile.webp 1x,
                    /img/catalog/delta_mobile@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/catalog/delta_mobile.webp.webp"
                  alt="watch"
                />
              </picture>

            </div>
            <div class="description-catalog">
              <h3 class="catalog-title-item">Garmin D2 Delta PX</h3>
              <p class="catalog-text">€380</p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <div class="wrapper-img">

              <picture>
                <source
                  srcset="
                    /img/catalog/solar_desctop.webp 1x,
                    /img/catalog/solar_desctop@2x.webp 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/catalog/solar_tablet.webp 1x,
                    /img/catalog/solat_tablet@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/catalog/delta_mobile.webp 1x,
                    /img/catalog/delta_mobile.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/catalog/delta-mob.webp"
                  alt="watch"
                />
              </picture>

            </div>
            <div class="description-catalog">
              <h3 class="catalog-title-item">Garmin Fenix 6 Pro Solar</h3>
              <p class="catalog-text">€400</p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <div class="wrapper-img">

              <picture>
                <source
                  srcset="
                    /img/catalog/tube_desctop.webp 1x,
                    /img/catalog/tube_desctop@2x.webp 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/catalog/tube_tablet.webp 1x,
                    /img/catalog/tube_tablet@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/catalog/descent_mobile.webp 1x,
                    /img/catalog/descent_mobile.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/catalog/tube_tablet.webp"
                  alt="watch"
                />
              </picture>

            </div>
            <div class="description-catalog">
              <h3 class="catalog-title-item">Tube Watch S42 Date Steel With Black Case</h3>
              <p class="catalog-text">€395</p>
            </div>
          </div>
        </li>
      </ul>


  </div>
  <button class="catalog-button" type="button">Show more</button>
</section>
