<footer class="footer" id="footer">
  <div class="container container-footer">
    <div class="container-logo-list-tel">
      <div class="container-logo-list">
        <a href="#" class="footer-logo">watchcharm</a>
        <ul class="footer-list-icons">
          <li class="footer-item-icons">
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-link-icons"
              target="_blank"
            >
              <svg class="footer-icons" width="18" height="18">
                <use href="/img/svg-sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item-icons">
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-link-icons"
              target="_blank"
            >
              <svg class="footer-icons" width="18" height="18">
                <use href="/img/svg-sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item-icons">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="footer-link-icons"
              target="_blank"
            >
              <svg class="footer-icons" width="18" height="18">
                <use href="/img/svg-sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <span class="footer-tel-border">
        <a href="tel:+380684439426" class="footer-tel">+380 (68) 443-94-26</a>
      </span>
    </div>
    <div class="container-footer-text">
      <p class="footer-text">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
    </div>
    <div class="container-footer-list">
      <ul class="footer-list">
        <li class="footer-list-item">
          <a href="#" class="footer-list-item-link">Home</a>
        </li>
        <li class="footer-list-item">
          <a href="#about-us" class="footer-list-item-link">About Us</a>
        </li>
        <li class="footer-list-item">
          <a href="#catalog" class="footer-list-item-link">Catalog</a>
        </li>
        <li class="footer-list-item">
          <a href="#sale" class="footer-list-item-link">Sale</a>
        </li>
        <li class="footer-list-item">
          <a href="#reviews" class="footer-list-item-link">Reviews</a>
        </li>
        <li class="footer-list-item">
          <a href="#contact-us" class="footer-list-item-link">Contact Us</a>
        </li>
      </ul>
      <address class="footer-address">
        1678 S. Pioneer Road Salt Lake City UT 84104
      </address>
    </div>
    <div class="container-footer-text-privacy">
      <p class="footer-text-privacy">
        ©2023 The Watch Spot. All rights reserved.
      </p>
      <ul class="footer-privacy-list">
        <li class="footer-privacy-list-item">
          <a href="#" class="footer-privacy-link">Terms of Service</a>
        </li>
        <li class="footer-privacy-list-item">
          <a href="#" class="footer-privacy-link">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
