<header class="header">
  <div class="container container-header">
    <a href="#" class="header-logo">watchcharm</a>
    <button type="button" class="menu-button">
      <svg class="menu-button-icon" width="34" height="34">
        <use href="/img/svg-sprite.svg#menu"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="#" class="header-nav-list-link current">Home</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#about-us" class="header-nav-list-link">About Us</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#catalog" class="header-nav-list-link">Catalog</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#sale" class="header-nav-list-link">Sale</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#reviews" class="header-nav-list-link">Reviews</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#contact-us" class="header-nav-list-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="header-list-icons">
      <li class="header-list-icons-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="header-list-icons-link"
          target="_blank"
        >
          <svg class="header-icons" width="20" height="20">
            <use href="/img/svg-sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-list-icons-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="header-list-icons-link"
          target="_blank"
        >
          <svg class="header-icons" width="20" height="20">
            <use href="/img/svg-sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-list-icons-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="header-list-icons-link"
          target="_blank"
        >
          <svg class="header-icons" width="20" height="20">
            <use href="/img/svg-sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- </nav> -->
  </div>
</header>
