<section class="sale" id="sale">
  <div class="container sale-container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-content">
      <div class="watch-pics-wrapper">
        <ul class="watch-pics-list">
          <li class="watch-pics-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="/img/sale/img1.webp 1x, /img/sale/img1@2x.webp 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/img-mobile1.webp    1x,
                  /img/sale/img-mobile1@2x.webp 2x
                "
              />
              <img src="/img/sale/img-mobile1.webp" alt="watch front pic" />
            </picture>
          </li>
          <li class="watch-pics-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="/img/sale/img2.webp 1x, /img/sale/img2@2x.webp 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/img-mobile2.webp    1x,
                  /img/sale/img-mobile2@2x.webp 2x
                "
              />
              <img
                src="/img/sale/img-mobile2.webp"
                alt="watch another front pic"
              />
            </picture>
          </li>
          <li class="watch-pics-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="/img/sale/img3.webp 1x, /img/sale/img3@2x.webp 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/img-mobile3.webp    1x,
                  /img/sale/img-mobile3@2x.webp 2x
                "
              />
              <img src="/img/sale/img-mobile3.webp" alt="watch side pic" />
            </picture>
          </li>
          <li class="watch-pics-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="/img/sale/img4.webp 1x, /img/sale/img4@2x.webp 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/img-mobile4.webp    1x,
                  /img/sale/img-mobile4@2x.webp 2x
                "
              />
              <img src="/img/sale/img-mobile4.webp" alt="watch back pic" />
            </picture>
          </li>
        </ul>
      </div>
      <div class="watch-main-pic-wrapper">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="/img/sale/hero.webp 1x, /img/sale/hero@2x.webp 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/sale/hero-mobile.webp    1x,
              /img/sale/hero-mobile@2x.webp 2x
            "
          />
          <img src="/img/sale/hero-mobile.webp" alt="watch main pic" />
        </picture>
      </div>
      <div class="watch-description">
        <h3 class="watch-title">
          MARQ&#174; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="watch-article">Product tag: 706587</p>
        <ul class="watch-price-list">
          <li class="watch-price-item first">
            <p class="watch-price">€1500</p>
          </li>
          <li class="watch-price-item">
            <p class="watch-old-price">€3000</p>
          </li>
        </ul>
        <p class="watch-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="watch-tags-list">
          <li class="watch-tag-item">
            <p class="watch-tag-text">Fused carbon fiber</p>
          </li>
          <li class="watch-tag-item">
            <p class="watch-tag-text">Grade-5 Titanuim</p>
          </li>
          <li class="watch-tag-item">
            <p class="watch-tag-text">Athlete</p>
          </li>
          <li class="watch-tag-item">
            <p class="watch-tag-text">Golfer</p>
          </li>
          <li class="watch-tag-item">
            <p class="watch-tag-text">Commander</p>
          </li>
          <li class="watch-tag-item">
            <p class="watch-tag-text">Adventurer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
